
{% extends 'layout/base.html' %}

{% block "content" %}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="{% url 'mainApp:dashboard' %}">Tableau de bord </a></li>
        <li class="active">Médicaments</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Liste des Médicaments </h1>
    <!-- end page-header -->
    
    <div class="row">
        <div id="options" class="col-sm-10 m-b-10">
            <span class="gallery-option-set" id="filter" data-option-key="filter">
                <a href="#show-all" class="btn btn-default btn-xs active" data-option-value="*">
                    Tous voir
                </a>
                {% for type in types %}
                <a href="#{{type.etiquette}}" class="btn btn-default btn-xs" data-option-value=".{{type.etiquette}}">
                    {{type.name}}
                </a>
                {% endfor %}
                <a href="#ordonnance" class="btn btn-default btn-xs" data-option-value=".ordonnance">
                    Sur ordonnance
                </a>
                {% for stock in stocks %}
                <a href="#{{stock.etiquette}}" class="btn btn-default btn-xs" data-option-value=".{{stock.etiquette}}">
                    {{stock.name}}
                </a>
                {% endfor %}
            </span>
        </div>
        <div class="col-sm-2 text-right">
            {% comment %} <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-medicament"><i class="fa fa-plus"></i> Ajouter</button> {% endcomment %}
        </div>
    </div>
    <div id="gallery" class="gallery">
        {% for item in prodoffs %}
        <div class="image {{item.produit.type.etiquette}} {{item.stock_state.etiquette}} {% if item.produit.only_ordonnance %}ordonnance{% endif %} ">
            <div class="image-inner">
                <img src="{{item.produit.image.url}}" alt="" />
                <p class="image-caption">
                    #{{item.produit.codebarre}}
                </p>
            </div>
            <div class="image-info">
                <h4 class="title">{{item.produit.name}}</h4>
                <div>
                    <div class="pull-right">
                        {% if item.produit.only_ordonnance %}
                        <label class="label label-primary">Sur ordonnance</label>
                        {% endif %}
                    </div>
                    <div class="rating pull-left">
                        <div class="btn-group">
                            {% for state in stocks %}
                                {% if state.etiquette == item.stock_state.etiquette %}
                                    <a id="{{state.id}}" class="btn btn-{{state.classe}} btn-xs">{{state}}</a>
                                    <button type="button" class="btn btn-{{state.classe}} btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                {% else %}
                                    <a id="{{state.id}}" class="hide" class="btn btn-{{state.classe}} btn-xs">{{state}}</a>
                                    <button type="button" class="btn btn-{{state.classe}} btn-xs dropdown-toggle hide" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                {% endif %}
                            {% endfor %}
                            <ul class="dropdown-menu" role="menu" id="{{item.id}}">
                                {% for state in stocks %}
                                    {% if state.etiquette != item.stock_state.etiquette %}
                                        <li id="{{state.id}}" onclick="changeState('{{item.id}}', '{{state.id}}')"><a href="#">{{state.name}}</a></li>
                                    {% else %}
                                        <li id="{{state.id}}" class="hide" onclick="changeState('{{item.id}}', '{{state.id}}')"><a href="#">{{state.name}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div><br>
                <div class="desc">{{item.produit.description}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock "content" %}


{% block "scriptjs" %}
<script>
    Gallery.init();
    {% include "./medicaments_officine.js" %}
</script>
{% endblock "scriptjs" %}


{% block "style" %}
.hide{
    display: hidden;
}
{% endblock "style" %}

