
{% extends 'layout/base.html' %}
{% load static %}

{% block "content" %}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="{% url 'mainApp:dashboard' %}">Tableau de bord </a></li>
        <li class="active">Médicaments</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Liste des Médicaments </h1>
    <!-- end page-header -->


    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    </div>
                    <h4 class="panel-title">Médicaments en stock - Liste</h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-hover">
                        <thead>
                            <tr class="text-uppercase">
                                <th>#</th>
                                <th>Code barre</th>
                                <th>Nom officiel</th>
                                <th>type</th>
                                <th>ordonnance</th>
                                <th>forme</th>
                                <th>voies d'administration</th>
                                <th>Disponibilité</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in prodoffs %}
                                <tr class="odd gradeX">
                                    <td><img src="{{item.produit.image.url}}" style="width: 40px"></td>
                                    <td>{{ item.produit.codebarre }}</td>
                                    <td class="text-bold">{{ item.produit.name }}</td>
                                    <td>{{ item.produit.type }}</td>
                                    <td>{{ item.produit.only_ordonnance }}</td>
                                    <td>{{ item.produit.forme }}</td>
                                    <td>{{ item.produit.voies }}</td>
                                    <td><button onclick="indisponible('{{item.id }}')" class="btn btn-danger btn-sm btn-rounded"><i class="fa fa-close"></i> Plus en stock</button></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="8" class="text-center"> 
                                    =+===+===+===+===+===+===+===+====+===+===+===+===+===+===+===+====+===+===+===+===+===+===+===+====+===+===+===+===+===+===+===+====+===+===+===+===+===+===+===+====+===+===+===+===+===+===+===+===
                                </td>
                            </tr>
                            {% for produit in produits %}
                                <tr class="odd gradeX">
                                    <td><img src="{{produit.image.url}}" style="width: 40px"></td>
                                    <td>{{ produit.codebarre }}</td>
                                    <td class="text-bold">{{ produit.name }}</td>
                                    <td>{{ produit.type }}</td>
                                    <td>{{ produit.only_ordonnance }}</td>
                                    <td>{{ produit.forme }}</td>
                                    <td>{{ produit.voies }}</td>
                                    <td><button onclick="disponible('{{request.officine.id }}', '{{ produit.id }}')" class="btn btn-success btn-sm btn-rounded"><i class="fa fa-check"></i> Maintenant disponible</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>



    </div>
</div>

{% endblock "content" %}


{% block "scriptjs" %}
<script>
    $(document).ready(function() {
        TableManageDefault.init();
        {% include "./medicaments_officine.js" %}
    });
</script>
{% endblock "scriptjs" %}

