
{% extends 'layout/base.html' %}

{% block "content" %}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="{% url 'mainApp:dashboard' %}">Tableau de bord </a></li>
        <li class="active">Médicaments</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Liste des Médicaments </h1>
    <!-- end page-header -->
    <div class="row">
    <div id="options" class="m-b-10 col-sm-10">
        <span class="gallery-option-set" id="filter" data-option-key="filter">
            <a href="#show-all" class="btn btn-default btn-xs active" data-option-value="*">
                Tous voir
            </a>
            {% for type in types %}
            <a href="#{{type.etiquette}}" class="btn btn-default btn-xs" data-option-value=".{{type.etiquette}}">
                {{type.name}}
            </a>
            {% endfor %}
            <a href="#ordonnance" class="btn btn-default btn-xs" data-option-value=".ordonnance">
                Sur ordonnance
            </a>
        </span>
    </div>

    <div class="col-sm-2 text-right">
        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-medicament"><i class="fa fa-plus"></i> Ajouter</button>
    </div>
</div>
    <div id="gallery" class="gallery">

        {% for medicament in medicaments %}
        <div class="image {{medicament.type.etiquette}} {% if medicament.only_ordonnance %}ordonnance{% endif %} ">
            <div class="image-inner">
                <img src="{{medicament.image.url}}" alt="" />
                <p class="image-caption">
                    #{{medicament.codebarre}}
                </p>
            </div>
            <div class="image-info">
                <h4 class="title bold">{{medicament.name}}</h4>
                <div class="pull-right">
                    <button data-toggle="modal" data-target="#modal-medicament{{medicament.id}}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-xs btn-danger" onclick="delete_password('produit', '{{medicament.id}}')"><i class="fa fa-trash"></i></button>
                </div>
                <div class="rating">
                    {% if medicament.only_ordonnance %}
                    <label class="label label-primary">Sur ordonnance</label>
                    {% endif %}
                </div>
                <div class="clearfix"></div><br>
                <div class="desc">{{medicament.description}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<div class="modal fade" id="modal-medicament">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-bold">Formulaire de médicaments</h4>
            </div>
            <form id="formNewUser" class="formShamman" classname="ProduitForm" enctype="multipart/form-data" method="POST">
                <div class="modal-body" style="padding: 5% ">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nom complet officiel du médicament</label>
                                <input type="text" name="name" class="form-control" required placeholder="Nom complet officiel du médicament" />
                            </div><br>
                            <div class="form-group">
                                <label>Description du médicament</label>
                                <textarea class="form-control" name="description" required rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Code barre officiel</label>
                                <input type="text" name="codebarre" class="form-control" required placeholder="1233454363" />
                            </div>
                        </div>
                        <div class="col-sm-4 text-center" style="padding-top: 5% ">
                            <img style="width: 96%; height:200px" src="" class="img-thumbnail logo">
                            <input class="hide" type="file" name="image" >
                            <button type="button" class="btn btn-xs btn-default btn_image" style="margin-top: 15% "><i class="fa fa-image"></i> Ajouter une image</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden"  name="id">
                    <button type="button" class="btn btn-md btn-white" data-dimdiss="modal"  aria-hidden="true">Annuler n</button>
                    <button type="submit" class="btn btn-md btn-success">Ajouter le médicament</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% for medicament in medicaments %}
<div class="modal fade" id="modal-medicament{{medicament.id}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-bold">Formulaire de médicaments</h4>
            </div>
            <form id="formNewUser" class="formShamman" classname="ProduitForm" enctype="multipart/form-data" method="POST">
                <div class="modal-body" style="padding: 5% ">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nom complet officiel du médicament</label>
                                <input type="text" name="name" value="{{medicament.name}}" class="form-control" required placeholder="Nom complet officiel du médicament" />
                            </div><br>
                            <div class="form-group">
                                <label>Description du médicament</label>
                                <textarea class="form-control" name="description" required rows="5">{{medicament.description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Code barre officiel</label>
                                <input type="text" name="codebarre" value="{{medicament.codebarre}}" class="form-control" required placeholder="1233454363" />
                            </div>
                        </div>
                        <div class="col-sm-4 text-center" style="padding-top: 5% ">
                            <img style="width: 96%; height:200px" src="{{medicament.image.url}}" class="img-thumbnail logo">
                            <input class="hide" type="file" name="image" >
                            <button type="button" class="btn btn-xs btn-default btn_image" style="margin-top: 15% "><i class="fa fa-image"></i> Ajouter une image</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" value="{{medicament.id}}"  name="id">
                    <button type="button" class="btn btn-md btn-white" data-dimdiss="modal"  aria-hidden="true">Annuler n</button>
                    <button type="submit" class="btn btn-md btn-success">Mettre à jour</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% endblock "content" %}


{% block "scriptjs" %}
<script>
    Gallery.init();
</script>
{% endblock "scriptjs" %}