	{% load static %}
    
    <!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'dist/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
	{% comment %} <script src="{% static 'dist/plugins/jquery/jquery-1.9.1.min.js' %}"></script> {% endcomment %}
	<script src="{% static 'dist/plugins/jquery/jquery-migrate-1.4.1.min.js' %}"></script>
	<script src="{% static 'dist/plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	<script src="{% static 'dist/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

	<script src="{% static 'dist/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'dist/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'dist/plugins/gritter/js/jquery.gritter.js' %}"></script>
	<script src="{% static 'dist/plugins/flot/jquery.flot.min.js' %}"></script>
	<script src="{% static 'dist/plugins/flot/jquery.flot.time.min.js' %}"></script>
	<script src="{% static 'dist/plugins/flot/jquery.flot.resize.min.js' %}"></script>
	<script src="{% static 'dist/plugins/flot/jquery.flot.pie.min.js' %}"></script>
	<script src="{% static 'dist/plugins/sparkline/jquery.sparkline.js' %}"></script>
	<script src="{% static 'dist/plugins/jquery-jvectormap/jquery-jvectormap.min.js' %}"></script>
	<script src="{% static 'dist/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'dist/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'dist/js/dashboard-v2.min.js' %}"></script>

	<script src="{% static 'dist/plugins/jquery-jvectormap/jquery-jvectormap.min.js' %}"></script>
	<script src="{% static 'dist/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'dist/js/map-vector.demo.min.js' %}"></script>

	<script src="{% static 'dist/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'dist/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'dist/plugins/DataTables/extensions/AutoFill/js/dataTables.autoFill.min.js' %}"></script>
	<script src="{% static 'dist/plugins/DataTables/extensions/AutoFill/js/autoFill.bootstrap.min.js' %}"></script>
	<script src="{% static 'dist/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'dist/js/table-manage-default.demo.min.js' %}"></script>

	<script src="{% static 'dist/plugins/isotope/jquery.isotope.min.js' %}"></script>
	<script src="{% static 'dist/plugins/lightbox/js/lightbox.min.js' %}"></script>
	<script src="{% static 'dist/js/gallery.demo.min.js' %}"></script>


	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
	<script src="{% static 'dist/js/map-google.demo.min.js' %}"></script>


	<script src="{% static 'dist/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'dist/plugins/morris/morris.js' %}"></script>
    <script src="{% static 'dist/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js' %}"></script>
	<script src="{% static 'dist/plugins/gritter/js/jquery.gritter.js' %}"></script>
	<script src="{% static 'dist/plugins/toastr/toastr.min.js' %}"></script>
	<script src="{% static 'dist/plugins/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'dist/plugins/alerty/alerty.min.js' %}"></script>


	<script src="{% static 'dist/js/login-v2.demo.min.js' %}"></script>

	<script src="{% static 'dist/shamman/functions.js' %}"></script>
	<script src="{% static 'dist/shamman/alerter.js' %}"></script>
	<script src="{% static 'dist/shamman/loader.js' %}"></script>
	<script src="{% static 'dist/shamman/traitement.js' %}"></script>
	<script src="{% static 'dist/shamman/general.js' %}"></script>

	<script src="{% static 'dist/js/apps.min.js' %}"></script>


	<script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script> 
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js" crossorigin=""></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/hosuaby/Leaflet.SmoothMarkerBouncing@v3.0.2/dist/bundle.js" crossorigin="anonymous"></script> 
	<!-- ================== END PAGE LEVEL JS ================== -->