
{% extends 'layout/base.html' %}
{% load static %}
{% block "content" %}
	<!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Officines</a></li>
            <li class="active">liste</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Liste des officines <small>par ordre alphabétique</small></h1>
        <!-- end page-header -->
        
        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            
                        </div>
                        <h4 class="panel-title">Officines - Liste</h4>
                    </div>
                    <div class="panel-body">
                        <table id="data-table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nom</th>
                                    <th>Type</th>
                                    <th>Circonscription</th>
                                    <th>lieu</th>
                                    <th>Responsables</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for officine in officines %}
                                    <tr class="odd gradeX">
                                        <td><img src="{% static "dist/img/icons/pharma.png" %}" style="width: 20px"></td>
                                        <td class="text-bold">{{ officine.name }}</td>
                                        <td>{{ officine.type }}</td>
                                        <td>{{ officine.circonscription }}</td>
                                        <td>{{ officine.localisation }}</td>
                                        <td>
                                            <ul>
                                                {% for responsable in officine.officine_responsable.all %}
                                                <li> {{responsable.fullname}} </li>
                                                {% endfor %}
                                            </ul> 
                                        </td>
                                        <td><a href="{% url 'officineApp:officine' officine.id %}" class="btn btn-white btn-xs btn-rounded"><i class="fa fa-eye"></i> Voir</a></td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->
{% endblock "content" %}


{% block "scriptjs" %}
<script>
    $(document).ready(function() {
        TableManageDefault.init();
    });
</script>
{% endblock "scriptjs" %}