{% load static %}
{% load leaflet_tags %}

<head>
	<meta charset="utf-8" />
	<title>iPi Admin | Tableau de Bord</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	
	<link rel="icon" type="image/png" href="{% static 'dist/img/icons/logo.png' %}">
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'dist/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/css/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/css/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/css/theme/default.css' %}" rel="stylesheet" id="theme" />



	<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" crossorigin=""/>

	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static 'dist/plugins/jquery-jvectormap/jquery-jvectormap.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'dist/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/plugins/bootstrap-calendar/css/bootstrap_calendar.css' %}" rel="stylesheet" />
    <link href="{% static 'dist/plugins/morris/morris.css' %}" rel="stylesheet" />

	<link href="{% static 'dist/plugins/isotope/isotope.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/plugins/lightbox/css/lightbox.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/plugins/toastr/toastr.min.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
	<link href="{% static 'dist/plugins/alerty/dist/css/alerty.min.css' %}" rel="stylesheet">



	<link href="{% static 'dist/shamman/shamman.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'dist/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->

</head>


<style>
	.bold{
		text-weight: bold;
	}
</style>