
{% extends 'layout/base.html' %}
{% load static %}

{% block "content" %}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="{% url 'mainApp:dashboard' %}">Tableau de bord </a></li>
        <li class="active">demandes</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Liste des demandes </h1>
    <!-- end page-header -->


    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    </div>
                    <h4 class="panel-title">Toutes les demandes</h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-hover">
                        <thead>
                            <tr class="text-uppercase">
                                <th>Fait le</th>
                                <th>Utilisateur</th>
                                <th>Médicaments</th>
                                <th>ordonnance</th>
                                <th>Etat</th>
                                <th>Satisfait ?</th>
                                <th>Validée le</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in demandes %}
                                <tr class="odd gradeX">
                                    <td>{{ item.created_at }}</td>
                                    <td>{{ item.utilisateur }}</td>
                                    <td>{{item.demande_lignes.filter.count}} médicaments</td>
                                    <td>
                                        {% if item.ordonnance %}
                                        <a href="{{ item.ordonnance.url }}" data-lightbox="gallery-group-3">
                                            <img src="{{item.ordonnance.url }}" style="width: 30px"  alt="ordonnance" />
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not item.propagated %}
                                            <label class="label label-warning">En attente</label>
                                        {% elif item.propagated and not item.is_valided %}
                                            <label class="label label-danger">Expiréé</label>
                                        {% elif item.propagated and item.is_valided %}
                                            <label class="label label-success">Validée</label>
                                        {% endif %}  
                                    </td>
                                    <td>
                                        {% if item.is_satisfied %}
                                            <label class="label label-success">Oui</label>
                                        {% else %}
                                            <label class="label label-default">?</label>
                                        {% endif %}  
                                    </td>
                                    <td>
                                        {% if item.is_valided %}
                                            {{ item.update_at }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                          
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>



    </div>
</div>

{% endblock "content" %}


{% block "scriptjs" %}
<script>
    $(document).ready(function() {
        TableManageDefault.init();
        {% comment %} {% include "./demande.js" %} {% endcomment %}
    });
</script>
{% endblock "scriptjs" %}

